

/*table, tr, th, td {
    border: 1px solid;
}*/

.signup-form {
    padding: 10px;
}

input {
    display: block;
    padding: 5px;
}

/*NEW TRANSACTION*/

.trans-form {
    padding: 10px;
}

input[type=text] {
    display: block;
    padding: 5px;
}

.editable {
    width: 33%;
}

.editable input{
    width: 50%;
}

.edit-goal-form {
    display: none;
}

.editable .edit-goal-form {
    display: block;
}

.editable .goal-display {
    display: none;
}

.glyphicons-remove {
    font-size: 20px;
}

.remove-tr {
  color: #700;
  cursor: pointer;
}

  
.remove-tr:hover {
    color: #f00;
  }